{% capture dummy %}
{% include version_info.md %}

{% case include.game %}
{% when 'Marathon' %}
  {% assign dl_mac = link_m1mac %}
  {% assign dl_win = link_m1win %}
  {% assign dl_data = link_m1data %}
  {% assign dl_flatpak = link_m1flatpak %}
  {% capture flatpak_file %}Marathon-{{ vlatest.shortdate }}.flatpak{% endcapture %}
{% when 'Marathon 2' %}
  {% assign dl_mac = link_m2mac %}
  {% assign dl_win = link_m2win %}
  {% assign dl_data = link_m2data %}
  {% assign dl_flatpak = link_m2flatpak %}
  {% capture flatpak_file %}Marathon2-{{ vlatest.shortdate }}.flatpak{% endcapture %}
{% when 'Marathon Infinity' %}
  {% assign dl_mac = link_m3mac %}
  {% assign dl_win = link_m3win %}
  {% assign dl_data = link_m3data %}
  {% assign dl_flatpak = link_m3flatpak %}
  {% capture flatpak_file %}MarathonInfinity-{{ vlatest.shortdate }}.flatpak{% endcapture %}
{% endcase %}

{% endcapture %}

<a name="download"></a>
<h1>Download</h1>

<div class="gamesec">
<a href="{{ dl_mac }}"><img src="/images/mac.jpg" width="240" height="120" alt="Mac OS X"></a>
<a href="{{ dl_mac }}" class="downloadonly"><img src="/images/download_mac.png" width="131" height="37" alt="Download {{ include.game }} for Mac OS X" class="noborder"></a>
        <ul style="margin-top: 40px">
          <li><a href="{{ dl_mac }}">Download for macOS</a></li>
          <li>The disk image should automatically mount</li>
          <li>Copy the <b>{{ include.game }}</b> app to your Applications folder</li>
          <li>Launch <b>{{ include.game }}</b></li>
        </ul>
</div>

<div class="gamesec">
<a href="{{ dl_win }}"><img src="/images/win.jpg" width="240" height="120" alt="Windows"></a>
<a href="{{ dl_win }}" class="downloadonly"><img src="/images/download_win.png" width="131" height="37" alt="Download {{ include.game }} for Windows" class="noborder"></a>
        <ul style="margin-top: 40px">
          <li><a href="{{ dl_win }}">Download for Windows</a></li>
          <li>Open the zip archive</li>
          <li>Copy the <b>{{ include.game }}</b> folder to your Program Files folder</li>
          <li>Launch <b>{{ include.game }}.exe</b></li>
        </ul>
</div>

<div class="gamesec">
<img src="/images/linux.jpg" width="240" height="120" alt="Linux" style="border: solid 1px black">
<a href="{{ dl_flatpak }}" class="downloadonly"><img src="/images/download_linux.png" width="131" height="37" alt="Download {{ include.game }} flatpak" class="noborder"></a>
        <ul style="margin-top: 40px">
          <li><a href="{{ dl_flatpak }}">Download Linux Flatpak</a></li>
          <li><a href="https://flatpak.org/setup/">Set up Flatpak</a>
          <li><code>flatpak install {{ flatpak_file }}</code></li>
          <li>Launch <b>{{ include.game }}</b> from the application menu</li>
        </ul>
</div>

<hr>
<p>
{{ include.game }} is just one of the <a href="/scenarios.html">many games</a> you can play with Aleph One. If you already have a copy of the Aleph One application, you can download the <a href="{{ dl_data }}">standalone {{ include.game }} game files</a> for use with Aleph One 1.1 or later.
</p>
<p>
Download the <a href="{{ link_source }}">GPL-licensed source code</a>.
</p>
