    <div style="clear: both"></div>
    
    <hr>
    <p style="text-align: center; font-size: smaller"><a href="https://alephone.lhowon.org/">alephone.lhowon.org</a> is hosted by <a href="https://www.lhowon.org/">lhowon.org</a> and mirrored at <a href="https://aleph-one-marathon.github.io/">aleph-one-marathon.github.io</a></p>
    <p style="text-align: center; font-size: smaller; max-width: 40em; margin-left: auto; margin-right: auto">BUNGIE™, DESTINY™, MARATHON® and the Bungie, Destiny, and Marathon logos are either trademarks or registered trademarks of Bungie, Inc., used with permission.</p>
    </div>
  </body>
</html>
