<!DOCTYPE HTML>
<html lang="en">
{% capture dummy %}{% include version_info.md %}{% endcapture %}
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>{{ page.title }} - Marathon Open Source</title>
    <link rel="stylesheet" href="/site.css" type="text/css">
    <link rel="stylesheet" href="/type/stylesheet.css" type="text/css">
    <style>
      H1, H2 { font-weight: normal; }
      H1 { text-align: center; }
    </style>
    <script src="/site.js" type="text/javascript"></script>
  </head>
  <body>
  {% if include.banner == 'big' %}
    <div id="banner">
      <h2><a href="{{ vstable_notes }}" target="_blank">Latest Release: {{ vstable.display }} ({{ vstable.date }})</a></h2>
      {% if vbeta %}
        <h2><a href="{{ vbeta_notes }}" target="_blank">Beta Release: {{ vbeta.display }} ({{ vbeta.date }})</a></h2>
      {% endif %}
    </div>
     <div id="links">
      <a href="https://github.com/Aleph-One-Marathon/alephone/wiki">Wiki</a>
      <a href="https://github.com/Aleph-One-Marathon/alephone/issues">Bugs</a>
      <a href="https://github.com/Aleph-One-Marathon/alephone">GitHub</a>
      <a href="http://www.pfhorums.com/">Forums</a>
      <a href="https://discordapp.com/invite/NvF3pdV">Discord</a>
     </div>
 {% else %}
    <div id="banner2"><a href="/"><span>Home</span></a></div>
    <div id="links">
      <a href="/">Home</a>
      <a href="https://github.com/Aleph-One-Marathon/alephone/wiki">Wiki</a>
      <a href="https://github.com/Aleph-One-Marathon/alephone/issues">Bugs</a>
      <a href="https://github.com/Aleph-One-Marathon/alephone">GitHub</a>
      <a href="http://www.pfhorums.com/">Forums</a>
      <a href="https://discordapp.com/invite/NvF3pdV">Discord</a>
    </div>
  {% endif %}
    <div class="main">
