<div class="gamesec">
<a href="/games/marathon.html"><img src="/images/m1.jpg" width="240" height="120" alt="Marathon"></a>
<a href="/download/macosx.php?game=marathon" class="mac_block downloadmore"><img src="/images/download_mac.png" width="131" height="37" alt="Download Marathon for Mac OS X" class="noborder"></a>
<a href="/games/marathon.html#download" class="linux_block downloadmore"><img src="/images/download_linux.png" width="131" height="37" alt="Download Marathon for Linux" class="noborder"></a>
<a href="/download/windows.php?game=marathon" class="win_block downloadmore"><img src="/images/download_win.png" width="131" height="37" alt="Download Marathon for Windows" class="noborder"></a>
<a href="/games/marathon.html" class="moreinfo"><img src="/images/moreinfo.png" width="102" height="37" alt="Available for Mac, Windows, and Linux" class="noborder"></a>
<p style="margin-top: 40px"><cite class="game"><a href="/games/marathon.html">Marathon</a></cite> is a fight for survival against the Pfhor, an alien race attacking your colony ship.</p>
<p><strong>Story fans:</strong> Follow the Marathon trilogy from the start.</p>
</div>
<div class="gamesec">
<a href="/games/marathon2.html"><img src="/images/m2.jpg" width="240" height="120" alt="Marathon 2: Durandal"></a>
<a href="/download/macosx.php?game=marathon2" class="mac_block downloadmore"><img src="/images/download_mac.png" width="131" height="37" alt="Download Marathon 2 for Mac OS X" class="noborder"></a>
<a href="/games/marathon2.html#download" class="linux_block downloadmore"><img src="/images/download_linux.png" width="131" height="37" alt="Download Marathon 2 for Linux" class="noborder"></a>
<a href="/download/windows.php?game=marathon2" class="win_block downloadmore"><img src="/images/download_win.png" width="131" height="37" alt="Download Marathon 2 for Windows" class="noborder"></a>
<a href="/games/marathon2.html" class="moreinfo"><img src="/images/moreinfo.png" width="102" height="37" alt="Available for Mac, Windows, and Linux" class="noborder"></a>
<p style="margin-top: 40px">In <cite class="game"><a href="/games/marathon2.html">Marathon 2: Durandal</a>,</cite> you and other survivors hunt for an ancient ally to topple the Pfhor empire.</p>
<p><strong>Solo play:</strong> <cite class="game">Marathon 2</cite> has a popular single player campaign and updated graphics from the XBLA remake.</p>
</div>
<div class="gamesec">
<a href="/games/infinity.html"><img src="/images/m3.jpg" width="240" height="120" alt="Marathon Infinity"></a>
<a href="/download/macosx.php?game=infinity" class="mac_block downloadmore"><img src="/images/download_mac.png" width="131" height="37" alt="Download Marathon Infinity for Mac OS X" class="noborder"></a>
<a href="/games/infinity.html#download" class="linux_block downloadmore"><img src="/images/download_linux.png" width="131" height="37" alt="Download Marathon Infinity for Linux" class="noborder"></a>
<a href="/download/windows.php?game=infinity" class="win_block downloadmore"><img src="/images/download_win.png" width="131" height="37" alt="Download Marathon Infinity for Windows" class="noborder"></a>
<a href="/games/infinity.html" class="moreinfo"><img src="/images/moreinfo.png" width="102" height="37" alt="Available for Mac, Windows, and Linux" class="noborder"></a>
<p style="margin-top: 40px"><cite class="game"><a href="/games/infinity.html">Marathon Infinity</a></cite> forces you to rewrite history to prevent the destruction of the universe.</p>
<p><strong>Online play:</strong> Most multiplayer online matches are played with <cite class="game">Infinity</cite>.</p>
</div>
